html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: #000;
  color: rgb(247, 241, 241);
  /* center container */
  display: grid;
  place-items: center;
}

.app__videos {
  border-radius: 20px;
  position: relative;
  height: 600px;
  overflow: scroll;
  width: 80%;
  max-width: 650px;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
